<%= form_for(translation) do |f| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table_name %>
    <%= f.text_field :table_name %>
  </div>

  <div class="field">
    <%= f.label :locale %>
    <%= f.text_field :locale %>
  </div>

  <div class="field">
    <%= f.label :reference_id %>
    <%= f.number_field :reference_id %>
  </div>

  <div class="field">
    <%= f.label :fields %>
    <%= f.text_area :fields %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
