<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Table</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.table %></td>
        <td><%= link_to 'Show', order, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Remove', order, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
