<p id="notice"><%= notice %></p>

<h1>Tables</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.label %></td>
        <td>
          <%= link_to 'Show', table, class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Edit', edit_table_path(table), class: 'btn btn-warning btn-xs' %>
          <%= link_to 'Remove', table, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tables %>

<br>

<%= link_to 'New Table', new_table_path, class: 'btn btn-primary btn-xs' %>
