<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @table.label %>
</p>

<p>
  <strong>Language:</strong>
  <%= @table.language %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
