<p id="notice"><%= notice %></p>

<h1>Product Infos</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Label</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_infos.each do |product_info| %>
      <tr>
        <td><%= product_info.label %></td>
        <td><%= product_info.language %></td>
        <td><%= link_to 'Show', product_info, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_product_info_path(product_info), class: 'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Destroy', product_info, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Info', new_product_info_path %>
