<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @product_info.label %>
</p>

<p>
  <strong>Language:</strong>
  <%= @product_info.language %>
</p>

<%= link_to 'Edit', edit_product_info_path(@product_info) %> |
<%= link_to 'Back', product_infos_path %>
