<div class="row main-form">
  <div class="col-md-4">
    <%= form_for(category) do |f| %>
      <% if category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :label %>
        <%= f.text_field :label, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :ordering %>
        <% order_value = category.new_record? ? Category.count + 1 : category.ordering.nil? ? 1 : category.ordering %>
        <%= f.number_field :ordering, class: 'form-control', min: 1, value: order_value %>
      </div>

      <div class="actions">
        <% submit_label = category.new_record? ? 'Create Category' : 'Update Category' %>
        <%= f.submit submit_label, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
