<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @category.label %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @category.ordering %>
</p>

<p>
  <strong>Language:</strong>
  <%= @category.language %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
