<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @category.label %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @category.ordering %>
</p>

<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning btn-xs' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-default btn-xs' %>
