<div class="row main-form">
  <div class="col-md-4">
    <%= form_for product, :html => {:multipart => true} do |f| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
      <%= f.label :categories %>
      <%= hidden_field_tag("product[category_ids][]", nil) %>
      <%- Category.order(:ordering).order(:label).each do |cat| %>
          <div class="checkbox">
              <label>
                  <%= check_box_tag("product[category_ids][]", cat.id, cat.id.in?(@product.categories.collect(&:id))) %> <%= cat.label %>
              </label>
          </div>
      <% end %>
      </div>

      <div class="form-group">
        <%= f.label :label %>
        <%= f.text_field :label, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :photo %>
        <%= image_tag(product.photo_url) if product.photo? %>
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
      </div>

      <div class="form-group">
        <%= f.label :ordering %>
        <% order_value = product.new_record? ? Product.count + 1 : product.ordering.nil? ? 1 : product.ordering %>
        <%= f.number_field :ordering, class: 'form-control', min: 1, value: order_value %>
      </div>

      <div class="form-group">
      <%= f.label :size_price, 'Size/Price' %>
      <% i = 0 %>
      <%- Size.order(:ordering).order(:label).each do |size| %>
          <div class="checkbox">
              <label>
                  <%= check_box_tag("product[product_sizes_attributes][#{i}][size_id]", size.id, size.id.in?(@product.product_sizes.collect(&:size_id)), class: 'price-check') %> <%= size.label %>
              </label>
          </div>
          <% price = @product.product_sizes.find_by_size_id(size.id).nil? ? nil: @product.product_sizes.find_by_size_id(size.id).price %>
          <% disabled = price.nil? ? 'disabled="disabled"' : '' %>
          <input type="text" name="product[product_sizes_attributes][<%= i %>][price]" value="<%= price  %>" placeholder="Price" <%= disabled %>  />
          <% i += 1 %>
      <% end %>
      </div>

      <div class="form-group">
      <%= f.label :product_info %>
      <%= hidden_field_tag("product[product_info_ids][]", nil) %>
      <%- ProductInfo.order(:ordering).order(:label).each do |pinf| %>
          <div class="checkbox">
              <label>
                  <%= check_box_tag("product[product_info_ids][]", pinf.id, pinf.id.in?(@product.product_infos.collect(&:id))) %> <%= pinf.label %>
              </label>
          </div>
      <% end %>
      </div>
     
      <div class="actions">
        <% submit_label = product.new_record? ? 'Create Product' : 'Update Product' %>
        <%= f.submit submit_label, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
