<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @product.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @product.photo %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @product.sizes %>
</p>

<p>
  <strong>Prices:</strong>
  <%= @product.prices %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @product.ordering %>
</p>

<p>
  <strong>Language:</strong>
  <%= Language.find(@product.language.id).option_label %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning btn-xs' %> |
<%= link_to 'Back', products_path, class: 'btn btn-default btn-xs' %>
